@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
#left-bar {
	background-color: #2ed39e;
	width: 15%;
	min-height: 100vh;
	float: left;
}

#right-area {
	width: 85%;
	min-height: 100vh;
	float: right;
}

#menu-bar {
	color: #2ed39e;
	padding-top: 7px;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #e5e6e7;
}

.fa-chevron-up,
.fa-chevron-down {
	font-size: 0.8em;
	cursor: pointer;
}

.icons-right {
	position: absolute;
	right: 0;
	font-size: 1.1em;
}

#clock {
	text-align: center;
	color: white;
	font-weight: 300;
}

#hourmin {
	font-size: 3.7em;
}

.container {
	height: calc(100vh - 38px);
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px;
}

table {
	border: none;
	border-bottom: 1px solid #e5e6e7;
	min-height: 80%;
	width: 100%;
	color: #b3b3b3;
	border-collapse: collapse;
}

tr, td {
	margin: 0;
	padding: 5px 0px 0px 5px;
	border: 1px solid #e5e6e7;
	vertical-align: top;
}

td {
	height: 100px;
	width: 200px;
}

.table-header {
	border-top: none;
	height: 40px;
	vertical-align: bottom;
	text-align: left;
	font-size: 0.8em;
	border-right: none;
	border-left: none;
}

.weather {
	text-align: right;
	cursor: default;
	width: 80%;
	display: inline-block;
	font-size: 0.8em;
	color: #2ed39e;
}

.currentday {
	background-color: #2ed39e;
	color: white;
}

.currentday .weather {
	color: white;
}

#current-weather {
	background-color: #2bc493;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.current-weather-big {
	width: 100%;
	padding-left: 30px;
	text-align: center;
	font-size: 2.5em;
	font-weight: 300;
}

.weather-heading {
	color: white;
	padding-left: 30px;
	font-size: 0.8em;
	font-weight: 400;
}

#addEvent {
	border: solid 1px #ff8787;
	border-radius: 3px;
	width: 275px;
	display: none;
	z-index: 100;
	background-color: white;
}

.eveBoxClose {
	position: absolute;
	top: 3px;
	right: 9px;
	cursor: pointer;
	color: #b3b3b3;
}

.eveBoxDate {
	color: #ff8787;
	display: inline-block;
	font-weight: bold;
	font-size: 0.9em;
	margin-top: 11px;
	margin-left: 15px;
}

.form-container {
	padding-left: 5%;
	color: #c1c1c1;
	font-size: 0.8em;
}

input, textarea {
	border: 1px solid #c1c1c1;
	color: #777777;
	padding: 2px 0px 2px 5px;
	border-radius: 3px;
}

#eventName {
	font-size: 1.1em;
	width: 90%;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#eventLocation {
	width: 90%;
	height: 18px;
	margin-bottom: 7px;
}
#eventStartDate, #eventStartTime, #eventEndDate, #eventEndTime {
	margin-bottom: 10px;
}

textarea {
	font-size: 1.1em;
	padding: 5px 5px 5px 5px;
}

#eventCancelButton, #eventSaveButton {
	margin-top: 10px;
	font-size: 1.1em;
	width: 90px;
	height: 30px;
	border-radius: 3px;
	background-color: #e5e6e7;
	color: #777777;
	border: none;
}

#eventSaveButton {
	position: absolute;
	background-color: #ff8787;
	color: White;
	font-weight: bold;
	right: 15px;
}

#error {
	color: red;
	font-weight: bold;
}

::-webkit-input-placeholder {
   color: #c1c1c1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c1c1c1;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c1c1c1;  
}

:-ms-input-placeholder {  
   color: #c1c1c1;  
}

#status {
	width: 15%;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 15px;
	font-size: 1.4em;
}

.event-rectangles {
	cursor: default;
	border: 3px solid #2ed39e;
	border-radius: 3px;
	margin-bottom: 3px;
	height: 20px;
	padding-left: 10px;
	font-size: 0.8em;
}

.joint-event {
	border: 3px solid lightblue;
}

.currentday .event-rectangles {
	background-color: White;
	border: 3px solid #2ed39e;
	color: #2ed39e;
	margin-bottom: 3px;
	height: 20px;
	padding-left: 10px;
	font-size: 0.8em;
}

.event-rectangle-select {
	background-color: #ff8787 !important;
	color: white !important;
	border-color: #ff8787 !important;
}


#justForShowEvent {
	border-radius: 3px;
	background-color: #ff8787;
	width: 100%;
	height: 20px;	
}

#viewEvent {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 22px;
	border: solid 1px #ff8787;
	border-radius: 3px;
	width: 230px;
	display: none;
	z-index: 100;
	background-color: white;
}

.viewEveBoxName {
	font-size: 0.9em;
	color: #ff8787;
	font-weight: bold;
}

.viewEveLabel {
	font-size: 0.7em;
	color: #c1c1c1;
	font-weight: bold;
}

.viewLocation, .viewDay, .viewDescription, .viewTitle {
	font-size: 0.7em;
	font-weight: bold;
	color: #777777;
}

#eventDeleteButton, #eventEditButton {
	width: 90px;
	height: 30px;
	border-radius: 3px;
	background-color: #e5e6e7;
	color: #777777;
	border: none;
}

#eventEditButton {
	position: absolute;
	background-color: #ff8787;
	color: White;
	font-weight: bold;
	right: 15px;
}

#viewEveBoxEveId {
	display: none;
}

#authorize-button {
	background-color: #2ed39e;
	color: white;
	border: none;
	padding: 5px 10px 5px 10px;
	margin-right: 10px;
}

#status {
	background-color: #2bc493;
}

@media only screen and (max-width: 750px) {
	#left-bar {
		display: none;
	}
	#right-area {
		float: none;
		margin-left: 20px;
	}
	.container {
		padding: 0;
		width: 80%;
	}
	table {
		width: 90vw;
	}
	td {
		width: 40vw !important;
		height: 30px;
	}
	.weather {
		display: none;
	}
	.event-rectangles {
		padding-left: 5px;
		font-size: 0.6em;
	}
	.date {
		font-size: 0.8em;
	}
	#addEvent {
		font-size: 0.6em;
		width: 150px;
	}
	#viewEvent {
		font-size: 0.7em;
		width: 140px;
	}
	#eventName, #eventLocation {
		font-size: 1.2em;
		width: 120px;
		height: 10px;
	}
	#eventStartDate, #eventStartTime, #eventEndDate, #eventEndTime {
		height: 10px;
		font-size: 1.2em;
	}
	#eventCancelButton, #eventSaveButton, #eventEditButton, #eventDeleteButton {
		margin-top: 10px;
		font-size: 0.9em;
		width: 60px;
		height: 15px;
	}
	#eventDescription {
		height: 30px;
	}
	#authorize-button {
		position: fixed;
		left: 10px;
	}
}
